$navbar-height: 72px
$navbar-bg: #189288
$navbar-border: 0
$navbar-color: white
$navbar-link-color: white

body
  margin: 0

:local(.navbar)
  display: flex
  background: $navbar-bg
  color: $navbar-color
  height: 72px
  align-items: center

:local(.logo)
  display: flex
  justify-content: middle
  a
    // flex: 1
    // padding: 21px
    img
      width: 30px
      height: 30px

:local(.menuButton)
  width: 100px