$navbar-height: 72px
$navbar-bg: #189288
$navbar-border: 0
$navbar-color: white
$navbar-link-color: white

body
  margin: 0

:local(.navbar)
  display: flex
  background: $navbar-bg
  color: $navbar-color
  height: 72px
  align-items: center
  justify-content: space-between
  div
    padding: 0 15px

:local(.logo)
  img
    width: 30px
    height: 30px

:local(.menuButton)
  width: 100px